# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.RData
.Rhistory

# RStudio files
.Rproj.user/
.Rproj.user

# SqlRender
statement_*.sql
errorReport.txt

# output files
inst/results.json

# Java compiled files
/bin

/target/

# Other
.DS_Store

errorReport.txt
output/
results/
thresholds/
hs_err_pid*.log
docs/Gemfile
docs/Gemfile.lock

