# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.RData

# RStudio files
.Rproj.user/
.Rproj.user

# SqlRender
statement_*.sql
errorReport.txt

# output files
inst/results.json

# Java compiled files
/bin

/target/

# Other
.DS_Store
output/
results/
thresholds/
hs_err_pid*.log
docs/Gemfile
docs/Gemfile.lock

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### File storage location ###
uploads

### Static resources ###
src/main/resources/static/*
