# Snowflake Database Connection Details
SNOWFLAKE_CONNECTION_STRING=jdbc:snowflake://YOUR_ACCOUNT_ID.snowflakecomputing.com/?db=YOUR_DB&warehouse=YOUR_WAREHOUSE&schema=YOUR_SCHEMA&role=YOUR_ROLE&query_tag=YOUR_TAG
SNOWFLAKE_USER=YOUR_USERNAME
SNOWFLAKE_PASSWORD=YOUR_PASSWORD

# CDM Database Schema Configuration
CDM_DATABASE_SCHEMA=YOUR_CDM_SCHEMA
RESULTS_DATABASE_SCHEMA=YOUR_RESULTS_SCHEMA
CDM_SOURCE_NAME=Your CDM Source Name
CDM_VERSION=5.4

# Cohort Configuration
COHORT_DATABASE_SCHEMA=YOUR_COHORT_SCHEMA
